body{
    margin: 0 0 ;
}
header.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
header.header img {
    width: 150px;
}
section.top-page {
    background: url("background.png");
    height: 80vh;
    background-size: cover;
    padding:  25px;
}
.big-title{
    color: white;
    font-size: 40px;
    padding: 20px;
    font-weight: 100;   
}

/*  menu de navigation */
nav.nav{
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-size: 17px;
    width: 300px;
    margin-left: 100px;
}
nav.nav li {
    color: white;
}
.nav {
    margin-right: 20px;
}
.dont{
    color:brown
  }
  
.dont:hover {
    text-decoration: underline;
    cursor: pointer;
}
.header input[type="search"]{
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 20px;
    height: 27px;
    width: 212px;
    padding-left: 8px;
    margin-right: 150px;
}
p{
    margin: 50px 100px;
    font-size: 60px;
    color: beige;
    text-align: center;
}

.plantes {
    display: flex;
    justify-content: space-around;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
button{
    border: solid white 3px;
    background-color: rgb(78, 209, 78);
    color: white;
    padding: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 5px;
    font-size: 18px;
}
button:hover {
    cursor: pointer;
    background-color: rgb(70, 146, 70);
}
.plant1{
    display: flex;        
    flex-direction: column;
    align-items: flex-start;
}
.plant2{
    display: flex;        
    flex-direction: column;
    align-items: flex-start;
}
.plant3{
    display: flex;        
    flex-direction: column;
    align-items: flex-start;
}
.plant4{
    display: flex;        
    flex-direction: column;
    align-items: flex-start;
}
.icon-container {
    display: flex;
    align-items: center;
    gap: 10px;
}
.fas {
    font-size: 24px;
}
.fas:hover {
    color: gray;
    cursor: pointer;
}
#cart-count {
    background-color: green;
    color: white;
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 50%;
    position: relative;
    top: -10px;
    left: -15px;
}
.login:hover {
    color: gray;
    cursor: pointer;
}
